body {
  background-color: #f6f6f6;
}
p {
  font-size: 14px;
  line-height: 1.42857143;
  color: #666666;
  margin: 5px;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti",
    "WenQuanYi Micro Hei", SimSun, sans-serif;
}

div {
  display: block;
}

.p_format {
  padding: 0 39px;
}
.p_format2 {
  padding: 0 60px;
}
/* .banner {
  width: 1200px;
  height: 400px;
  background-color: cadetblue;
  margin: auto;
} */
.ad_new {
  width: 1200px;
  margin: auto;
  padding: 20px 5%;
}

.ad_new img {
  width: 1080px;
  height: 180px;
  display: block;
  margin: auto;
}

.wrap {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.wrap .item {
  width: 540px;
  height: 580px;
  padding: 30px 30px;
}
.wrap .item img {
  width: 480px;
  display: block;
  margin: auto;
}
.p_line {
  text-decoration: line-through;
}
.bigimgwrap {
  width: 1200px;
  margin: 10px auto;
}
.bigimgwrap div {
  width: 1175px;
  margin: auto;
}

.bigimgwrap img {
  width: 1050px;
  height: 1050px;
  display: block;
  margin: auto;
}

.item.triple {
  width: 350px;
  height: 450px;
  padding: 30px 25px;
}

.item.triple img {
  width: 290px;
  height: 290px;
}

.ytitem {
  width: 540px;
  height: 300px;
  margin: 30px;
}
.ytitem p {
  text-align: center;
}
.ytitem iframe {
  width: 540px;
  height: 300px;
}
.ytitem.triple {
  width: 360px;
  height: 300px;
  margin: 20px;
}
.ytitem.triple iframe {
  width: 360px;
  height: 191px;
}
